@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.h1 {
    text-align: center;
    color: red;
    font-size: 40px;
}

.img {
    margin-top: 10%;
    height: 25vh;
    width: 20vw;
}

.p1 {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    margin-bottom: 30px;
    height: 35vh;
}

.h2 {
    text-align: center;
    color: green;
}

.img2 {
    width: 6vw;
}

.p2 {
    margin-left: 10px;
}

.pf {
    text-align: center;
    font-size: 20px;
    padding-bottom: 2vh;
}

.p {
    margin: 0px;
}

.c1 {
    margin-top: 15vh;
    color: #0E5A7B;
}

.c2 {
    color: #0E5A7B;
}

.card {
    border-style: solid;
    border-width: 2px;
    border-color: green;
}

.card2 {
    border-style: solid;
    border-width: 8px;
    border-color: #fdebd0;
    margin-bottom: 20px;
}

.ph {
    margin-left: 3vw;
}

.img3 {
    width: 50%;
    height: 20vh;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: green;
}

.img4 {
    width: 50%;
    height: 20vh;
    border-radius: 50%;
}

.hp1 {
    color: #3498db;
    text-shadow: 2px 2px 4px #bdc3c7;
    text-align: center;
}

.hp2 {
    color: #2ecc71;
    text-shadow: 2px 2px 4px #bdc3c7;
    text-align: center;
}

.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.heading {
    text-align: center;
    color: red;
}

.imgn {
    border-radius: 50%;
    margin-right: 10px;
    box-shadow: 3px 3px 5px #888888;
    width: 30vw;
}

.professional {
    background-color: #ecf0f1;
    padding: 10px;
    margin: 10px;
    display: inline-block;
}

.personal {
    background-color: #d7dbdd;
    padding: 10px;
    margin: 10px;
    display: inline-block;
}

.form {
    margin-top: 20px;
    margin-bottom: 20px;
}

.holder {
    width: 35vw;
}

.buttonl {
    margin-right: 50px;
}

.heading2 {
    text-align: center;
    color: red;
    margin-top: 20vh;
}

.heading3 {
    text-align: center;
    margin-top: 12vh;
}

.heading4 {
    text-align: center;
    font-size: 20px;
    width: 15vw;
}

.heading4:hover {
    cursor: pointer;
}

.h12 {
    text-align: center;
    font-size: 60px;
    color: red;
    margin-top: 5vh;
}

.cont {
    text-align: center;
}

.credit {
    margin-bottom: 50px;
}

.Box {
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 40px;
    margin-bottom: 3%;
    width: 50vw;
}

.b2 {
    margin-left: 10px;
}

.tab {
    margin-left: 50px;
}

.Box1 {
    background-color: black;
    padding: 20px;
    margin-bottom: 3%;
    width: 80vw;
}

.Box2 {
    background-color: bisque;
    padding: 30px;
    margin-bottom: 3%;
    border-radius: 30px;
    padding: 30px;
}

.Box3 {
    background-color: antiquewhite;
    padding: 15px;
    border-radius: 20px;
    height: 100%;
    margin-right: 30px;
    margin-left: 10px;
    margin-top: 1vh;
}

.Box4 {
    background-color: aquamarine;
    padding: 40px;
    width: 75vw;
    height: 60vh;
    border-radius: 30px;
}

.space {
    margin-top: 17vh;
}

.card {
    border-right-style: solid;
    border-right-width: 2px;
    border-right-color: green;
    border-left-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
    padding-right: 30px;
}

.box1 {
    width: 20%;
    background-color: transparent;
}

.box2 {
    padding-left: 200px;
    padding-top: 6%;
}

.space2 {
    margin-top: 10px;
    margin-left: 10px;
}

.Box5 {
    margin-left: 60px;
    background-color: aquamarine;
    padding: 40px;
    width: 75vw;
    border-radius: 30px;
}

.Box6 {
    background-color: white;
    border-radius: 20px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
}

.up {
    width: 100vw;
    padding-top: 30px;
}

.icon {
    margin-left: 10px;
    margin-right: 10px;
}

.set1 {
    margin-left: 12vw;
}

.set2 {
    margin-left: 12vw;
}

.set3 {
    margin-left: 12vw;
}

.employer_index {
    background-color: #87cefa;
    border-radius: 20px;
    padding-top: 10px;
    margin-bottom: 40px;
}

.dashboard {
    margin-left: 30px;
    color: #0000EE;
}

.dashboard:hover {
    text-decoration: underline;
    cursor: pointer;
}

.employer_index h2 {
    font-size: 15px;
}

.dashboardn {
    background-color: purple;
    color: white;
    margin-left: 30px;
    height: 100%;
}

.dashboardn:hover {
    cursor: pointer;
    text-decoration: underline;
}

.brightn {
    background-color: transparent;
}

.brightn:hover {
    cursor: pointer;
    text-decoration: underline;
}

.bright {
    color: #0000EE;
}

.blur {
    color: grey;
}

.clients {
    text-align: center;
    font-size: 15px;
}

.heading5 {
    color: red;
}
